* {
    margin: 0;
    padding: 0;
}

:root {
    --black: #3A3A3A;
    --gray: #787885;
    --deepblue: #0A0826;
    --pink: #E02C6D;
    --white: #fff;
    --lightgray: #D9DBE1;
    --blackgry: #18191F;
    --hover:#eb518af3;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.btn-primary {
    background-color: var(--pink);
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: var(--hover);
}
.btn-secondary {
	background-color: var(--pink);
	color: var(--white);
	font-size: 1rem;
	font-weight: 700;
	border: 0;
	padding: 12px 25px;
	cursor: pointer;
}
.btn-secondary:hover{
    background-color: var(--hover);
}

.center {
    text-align: center;
}
/* ============================== */
/* Header Section Styles Here */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    align-items: center;
}

.logo h3 {
	color: var(--black);
	font-size: 1.5rem;
	font-weight: 700;
    transition: 0.8s ease-in-out;
    cursor: pointer;
}
.logo h3:hover {
	scale: 1.1;
    color: var(--pink);
}


.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin: 0 10px;
}
.menu ul li a:hover{
    color: var(--pink);
}
.menu ul li a {
    text-decoration: none;
    color: var(--black);
}
.menu ul li a:hover{
    color: var(--pink);
}
.menu ul li i{
    color: var(--black);
    cursor: pointer;
}
.menu ul li i:hover{
    color: var(--pink);
}
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    background-image: url('../images/Circle\ design.svg');
    background-size: ;
    background-repeat: no-repeat;
    background-position: right;
}

.banner-content {
    width: 42%;
}

.banner-content h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
}

.banner-content p {
    color: var(--black);
    font-size: 1rem;
    font-weight: 700;
    margin: 30px 0px;
}

.banner-img img {
    width: 100%;
}
/* ============================== */
/* Support-Partners Styles Here */
.support-partners {
    display: flex;
    justify-content: space-around;
    margin: 100px 0px;
}
/* ============================== */
/* Popular Collection Styles Here */
.support-partners {
    box-shadow: 0px 6px 5px 2px #cccbcbb5;
    padding: 20px 0px;
}

.collection-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 30px 0px;
}

.collection-title {
    margin: 30px 0px;
}

.collection-title h3 {
    font-size: 1.7rem;
    color: var(--black);
    font-weight: 600;
}

.card {
    width: 250px;
    margin-bottom: 15px;
    box-shadow: 0px 6px 5px 2px #cccbcbb5;
    padding: 15px 15px;

}

.card img {
    width: 100%;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.4rem;
    color: var(--blackgry);
    font-weight: 500;
}

.card h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10px 0px;
}

.card p {
    font-size: .8rem;
    color: var(--gray);
    font-weight: 700;
}

.flex {
    display: flex;
    justify-content: center;

}

.more-button {
    display: block;
    text-align: right;
    margin-right: 12%;
    text-decoration: none;
    color: var(--pink);
}
.more-button:hover{
    color: var(--hover);
}
/* ============================== */
/* Featured Section Styles Here */
.featured-products {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.products img {
    width: 100%;
}

.products-content {
    width: 50%;
}

.products-content h2 {
    font-size: 2.5rem;
    color: var(--deepblue);
    font-weight: 600;
}

.products-content p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray);
    width: 75%;
    margin: 20px 0px;
}
/* ============================== */
/* Footer Section Styles Here */
.footer{
    background-color: var(--deepblue);
    color: var(--white);
    padding: 50px 0px;
}
.footer h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.footer p{
    font-size: .7rem;
    font-weight: 700;
    margin: 10px 0px;
}
.footer i {
	color: var(--white);
	margin: 0px 5px;
	background-color: #323646c7;
	padding: 5px;
	border-radius: 50px;
}
.footer i:hover{
    color: var(--hover);
}
/* ============================== */

/* Responsive Media Query */
@media screen and (max-width:576px) {
    .nav-bar {
        flex-direction: column;
        gap: 20px;
    }
    .banner-content {
        width: 100%;
        text-align: center;
    }
    .banner-content h1 {
        font-size: 1.5rem;
    }
    .banner-content p {
        color: var(--black);
    }
    .banner {
        background-size: contain;
        flex-direction: column-reverse;
    }
    
    .support-partners {
        flex-wrap: wrap;
        gap: 20px;
    }
    .collection-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .featured-products {
        flex-direction: column-reverse;
    }
    .products-content {
        width: 100%;
        text-align: center;
    }
    .products-content p {
        width: 100%;
    }
    .btn-secondary {
        margin-bottom: 20px;
    }
    .more-button {
        text-align: center;
        margin-right: 0;
    }
}
/* ============================ */
@media screen and (min-width:577px) {
    .more-button {
        margin-right: 0%;
    }
    .featured-products {
        justify-content: space-between;
    }
    .products-content h2 {
        font-size: 1.8rem;
    }
}